.mainProfile {
    padding: 1em 0 0 1em;
}

.mainProfileItem {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
}

.profileFullName {
    font-size: 22px;
}

.mainPhoto {
    width: 13.3em;
    padding: 0 0 1em 0;
}

.contact {
    padding-left: 10px;
}

.statusInput{
    width: 100%;
    background: #5e5e5e!important;
    border: none;
    padding: .2em 0;
}
.statusPage{
    text-align: center;
    color: #aaa!important;
    font-size: 14px;
}



.infoInProfile span{
    /*color: #aaa!important;*/
    font-size: 14px;
}

.error {
    color: red;
    font-weight: bold;
}

