.active{
    font-weight: bold;
    background: beige;
}
.default{
    padding: .3em;
    font-size: 14px;
    cursor: pointer;
}

.btn{
    background: #5e5e5e!important;
    opacity: 0.73;
    border-radius: 4px;
    color: #fff;
}


.friendsPage{
    padding: 1em 2em;
}

.friendsItem{
    margin: 1em 0;
}

.friendsItem img{
    border-radius: 50%;
    width: 8em;
}

.friendsItemName{
    font-size: 18px;
    margin: .5em 0;
}

.pagination{
    text-align: center;
}