.menu{
    display: flex;
    flex-direction: column;
    background:#222226!important;
    padding: 2em 0;
}
.menu a{
    text-decoration: none;
    margin: .1em auto;
    font-size: 1.4em;
    color: #777!important ;
}

.menu a:hover{
    color: darkcyan;
}

.menu a.active{
    color: darkcyan;
}