.header{
    display: flex;
    justify-content: space-between;
    background: aliceblue;
    padding: 1em 3em;
}

img{
    width: 6em;
}
.registration button{
    background: cadetblue;
    border: none;
    padding: .5em 1em;
    border-radius: .5em;
}
.registration button:hover{
    background: darkcyan;
}