.postCustom{
    margin-top: 1em;
    background: rgba(255, 255, 255 , 0.1);
    padding: 1em;
    width: 100%;
    border-radius: 8px;
}

.postCustom img{
    border-radius: 50%;
    width: 60px;
}

.post{
    padding: 1em 0;
}