.App{
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    row-gap:  1em;
    height: 100vh;
}
.main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 1em;
}
.components{
    background: #333336!important;
}

.MuiCheckbox-colorSecondary.Mui-checked{
    color: #d5d5d5!important;
}
.MuiButton-contained{
    height: 30px;
}

.status{
    cursor: pointer;
    color: #aaa!important;
    font-size: 14px;
    border: none;
    margin: 0 0 1em 0;
    font-weight: 600;
}

.status:hover{
    background: #5e5e5e!important;
}

.MuiButton-contained{
    background: #5e5e5e!important;
    color: #fff!important;
}

.redBtn{
    margin: 1em 0!important;
    color: #fff!important;
}