.App{
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    row-gap:  1em;
    height: 100vh;
}
.main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 1em;
}
.components{
    background: #333336!important;
}

.MuiCheckbox-colorSecondary.Mui-checked{
    color: #d5d5d5!important;
}