.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-size: 1.4em;
}
.name, .message{
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
}
.name a{
    text-decoration: none;
    color: cadetblue;
}
